html, body{
    margin: 0px;
}

body{
    background: rgb(102,102,102);
    background: linear-gradient(350deg, rgb(58, 58, 58) 33%, rgba(105,209,206,1) 100%);
    min-height: 100vh;
}   

header{ 
    width: 70%;
    text-align: left;
    padding: 40px;
    padding-left: 15%;
    padding-right: 15%;
    display: inline-flex;
    position:relative;
}

a{
    text-decoration: none;
    color: black;   
}

a#pagPrin{
    width: 535px;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}

div#linksHe{
    display: inherit;
    width: 321px;
    position:absolute;
    bottom: 50px;
    right: 15%;
}

a.pagSec{
    margin-left: 30px;
    float: right;
    text-align: center;
}

div#container{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div#form{
    width: 480px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 0px;   
    border: 4px solid #000;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

div.input{
    display: grid;
    margin-bottom: 10px;
}

h2#headerForm{
    font-size: 28px;
    padding: 10px;
    text-align: center;
    margin-top: -25px;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    width: 250px;
}

label{
    color: #fff;
    font-size: 17px;
    margin-left: 15px;
}

input{
    width: calc((480 - 70) - 17px);
    height: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    border-radius: 15px;
    font-size: 13px;
    padding-left: 15px;
    color: #000;
    margin-top: 5px;
}

input::placeholder {
    color: #000;
}

select {
    width: calc((480 - 70) - 17px);
    height: 30px;
    background: rgb(88, 88, 88);
    border: 1px solid black;
    border-radius: 15px;
    font-size: 13px;
    padding-left: 15px;
    color: #000;
    margin-top: -8px;
}

div#subDiv{
    margin-top: 2px;
    float: right;
    margin-bottom: -31px;
}

input#submit{
    height: 39px;
    padding: 5px;
    background-color: #69d1ce;
    font-weight: bold;
    font-size: 18px;
    border: 4px solid #000;
    text-align: center;
}

input#submit:hover{
    background-color: #4c9e9a;
}

footer{
    text-align: center;
    margin-top: 40px;
    padding: 3px;
    height: 20px;
}